header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}

h1 {
  color: #111;
  font-size: 10vmin;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
}
